rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Modo teste — permite leitura e escrita livre por 30 dias
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
